--Anything put here was mady by Well Heck#1948, and is used to make the website be modified in a custom way. To any admin, please do not mess with this.--
DirectoryIndex Default.aspx index.php Default.php
ErrorDocument 404 /Default/404.php